body {
    font-family: Tahoma;
    color: #3b4543;
}
h1 {
    text-align: center;
    font-weight: bold;
}
p {
    margin: 0;
}
.header {
    text-align: center;
    margin: 10px 0;
}
.header p {
    font-size: 14px;
}
.section {
    margin: 10px 0;
}
.section-title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}
.section-item {
    margin: 10px 0;
}
.section-item-title-left {
    font-weight: bold;
    margin-left: 50px;
}
.section-item-content-left {
    font-style: italic;
    margin-left: 50px;
    margin-bottom: 5px;
}
.section-item-title-right {
    text-align: right;
    font-weight: bold;
    position: relative;
    right: 75px;
}
.section-item-content-right {
    text-align: right;
    font-style: italic;
    position: relative;
    right: 75px;
    margin-bottom: 5px;
}
.section-item ul {
    margin: 0;
    padding: 0 0 0 20px;
    margin-left: 50px;
}
.list {
    margin-left: 50px;
}
.left-half, .right-half {
    width: 50%;
    float: left;
}
hr { 
    display: block;
    margin-end: auto;
    margin-start: auto;
    border: 1px inset;
    overflow: hidden;
    margin-before: 0.5em;
    margin-after: 0.5em;
}
img {
    border-radius: 50%; /* Makes the image circular */
    padding: 10px;
  }
.name {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding: 5px;
}
.top-left {
    background-color: #68c7ea;
    position:fixed;
    top:0px;
    bottom:50%;
    left:0px;
    width: 20%;
    padding: 25px;
}
.bottom-left {
    position:fixed;
    top:469px;
    bottom:0%;
    left:0px;
    padding: 25px;
    width: 20%;
    background-color: #3d4240;
    color:white;
}
.contact {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 25px;
    border-bottom: 5px solid white;
    line-height: 5px;
}
.contact-info {
    text-align: center;
    padding: 20px;
}
.location {
    padding: 10px;
}
.title {
    font-weight: bold;
}
.info {
    color:#aab0ae;
}
.right {
    position:fixed;
    background-color: white;
    top:0px;
    left:20%;
    right:0%;
}
.footer {
    text-align: center;
}